<!DOCTYPE html>
<html>

<head>
    <title>eSportsCMS</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.css">
    <script src="https://unpkg.com/vue-material"></script>
    <link rel="stylesheet" href="style/app.css">
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>

<body>
    <div id="app">
        <md-toolbar>
            <md-button href="/" class="md-icon-button">
                <md-icon>home</md-icon>
            </md-button>
            <h2 class="md-title" style="flex: 1;">eSportsCMS</h2>
            <form v-if="show">
                <md-input-container md-inline style="display: inline-block;">
                    <md-input ref="searchBox" placeholder="Search..."></md-input>
                </md-input-container>
            </form>
            <md-button v-on:click="show = !show;" class="md-icon-button">
                <md-icon>search</md-icon>
            </md-button>
            <md-button v-if="signedIn" class="md-icon-button">
                <md-icon md-size-2x>account_circle</md-icon>
            </md-button>
            <form v-else novalidate @submit.event.defaultPrevented="submit">
                <ol>
                    <li style="display: inline-block;">
                        <md-input-container>
                            <md-input placeholder="Username"></md-input>
                        </md-input-container>
                    </li>
                    <li style="display: inline-block;">
                        <md-input-container>
                            <md-input placeholder="Password" type="password"></md-input>
                        </md-input-container>
                    </li>
                </ol>
            </form>
        </md-toolbar>
        <md-layout class="main-content" md-gutter>
            <md-layout dark md-flex="15" md-column>
                <md-list v-for="item in routes" :key="item.name">
                    <router-link :to="item.path" tag="md-list-item">
                        <md-icon>{{item.icon}}</md-icon><span>{{item.name}}</span>
                    </router-link>
                </md-list>
            </md-layout>
            <md-layout md-column>
                <p>Welcome to the development edition of eSportsCMS! This is the main content area!</p>
                <router-view></router-view>
            </md-layout>
        </md-layout>
    </div>
</body>

</html>
<script src="script/app.js"></script>